body{
    text-align: center;
    }
    body {
        padding-top: 5rem;
      }
    
      .classe{

        background-color:lightskyblue;
      }
 
      .elisa-btn{
background-color: blue;
      }
    
 
     /* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(249,259,184);
}

.Black{
  color:black;

}
.yellow{
  color: yellow;
}
.footer{
 background-color: black;
}